@font-face {
  font-family: 'HelveticaNeue';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Bold'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Bold'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Bold'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Bold'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Light'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Light'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Light'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Light'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-BoldItalic';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-BoldItalic'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-BoldItalic'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-BoldItalic'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-BoldItalic'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Medium'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Medium'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Medium'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Medium'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-LightItalic';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-LightItalic'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-LightItalic'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-LightItalic'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-LightItalic'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Thin'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Thin'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Thin'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-Thin'}.svg') format('svg');
}

@font-face {
  font-family: 'HelveticaNeue-ThinItalic';
  font-display: swap;
  src: url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-ThinItalic'}.eot?#iefix') format('embedded-opentype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-ThinItalic'}.woff') format('woff'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-ThinItalic'}.ttf') format('truetype'),
  url('#{'../twelveburnsavenue/resources/assets/fonts/'}#{'HelveticaNeue-ThinItalic'}.svg') format('svg');
}
