$font-family-base: 'HelveticaNeue-Thin', sans-serif;
$body-color: #000000;
$link-hover-decoration: none;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
)
